html, body {

	width: 100%;


}

.d-block {
	width: 100%;
	max-height: 650px;
}


#overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 2px #595959;
}
/* navbar */
.navbar-default {
    background-color: white;
    width: 100%;
}


.logo {

	height: 100px;
	width:250px;
}


#bottomText {
	margin-left: 10%;
}

.navbar-nav{

	text-align: right;
}

#hopPic {

	max-width: 600px;
	height: auto;
	margin-top: 10%;
}

.textBox{
	font-family: 'Oxygen', sans-serif;
}

#aboutUs {

	margin-top: 22%;
	width: auto;

}

#award {

	margin-left: 10%;
	margin-top: -8%;

}

#section2 {


	background-image: url(../images/greenbackground.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 50px 0 50px 0;
	margin-top: 5%;
}

#continueTitle {
	 font-family: 'Oxygen', sans-serif;
	 text-shadow: 2px 2px 2px black;
}

.card {
	
	width: 100%;
	height: 350px;
	margin-left: 33%;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 5%;
	margin-top: 5%;

}

.card img{
	max-height: 175px;
}

#continueTitle {
	color: white;
	margin-left: 10%;
	margin-top: 5%;
	padding-bottom: 25px;
}

footer {

	background-color: #003300;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Oxygen', sans-serif;
}

#owlInfo {

	margin-left: 5%;
	margin-top: 5%;
}

.contact {

	margin-top: 12%;
	margin-left: 35%;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 7%;
    margin-top: 5%;
    float: right;
}

#owlInfo {
	line-height: 30px;
}

#contactHead {

	background-image: url(../images/greenbackground.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

#contactUs {

	color: white;
	margin-top: 7%;
	margin-left: 10%;
	font-size: 38px;
	font-family: 'Oxygen', sans-serif;

}

.contact a:link {
	
	color: white;
	-webkit-transition: 1s ease-out;
  	-moz-transition: 1s ease-out;
  	-o-transition: 1s ease-out;
  	transition: 1s ease-out;
}

.contact a:link:hover {

	opacity: 0.5;
	color: gold;
	text-decoration: none;
	
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: black;
    color: white;
}

/* Twitter */
.fa-instagram {
    background: black;
    color: white;
}

@media only screen and (max-width: 600px) {

	#hopPic, #award {
		width: 300px;
	}

	.d-block {
		height: 400px;
	}

	#mainTitle {
		font-size: 22px;

	}
	
	.logo {

		width: 150px;
		height: 100px;
	}

	#award {

		margin-left: 0;
	}

	.textBox {
		font-size: 24px;
	}

	#bottomText {
		margin-left: 0;
	}

	.card {
		margin-left: 0;
		width: 90%;

	}
	
	#owlInfo {

		text-align: center;
	}

	.social {

		margin-right: 25%;
		margin-top: 5%;
	}

	#contactHead h3 {

		margin-top: 21%;
	
	}
}


/*CONTACT.HTML CSS */

.aboutBox {

	padding-top: 10%;
	padding-bottom: 10%;
	font-family: 'Oxygen', sans-serif;
}

.buttonHolder {
	text-align: center;
}

#submitButton {

	background-color: #003300;
  	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	width: 125px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

}

#submitButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submitButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submitButton:hover span {
  padding-right: 25px;
}

#submitButton:hover span:after {
  opacity: 1;
  right: 0;
}